<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTDMapper3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	<mapper namespace="com.example.demo.mapper.UserMapper">
		<insert id="insertUser" parameterType="com.example.demo.vo.UserVO">
			INSERT INTO users(id, password, firstName, lastName, age, tel, address)
			VALUES(#{id}, #{password}, #{firstName}, #{lastName}, #{age}, #{tel}, #{address})
		</insert>
		
		<select id="userList" resultType="com.example.demo.vo.UserVO">
			SELECT * FROM users
			ORDER BY id
		</select>
		
		<select id="fetchUserByID" resultType="com.example.demo.vo.UserVO"
		parameterType="int">
			SELECT * FROM users
			WHERE id = #{id}
		</select>
		
		<delete id="deleteUser" parameterType="int">
			DELETE FROM users
			WHERE id = #{id}
		</delete>
		
		<update id="updateUser" parameterType="com.example.demo.vo.UserVO">
			UPDATE users
			SET password = #{password}, firstName = #{firstName}, lastName = #{lastName}, age = #{age}, tel = #{tel}
			WHERE id = #{id}
		</update>
	</mapper>